.no-ie{
    .plx{
        @include media($medium-screen-up){
            perspective: 1px;
            -webkit-perspective: 1px;
            height: 100vh;
            perspective-origin-x: 100%;
            min-width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-perspective-origin: 100%;
            position: fixed;
        }
    }

    .plx_layer{
        @include media($medium-screen-up){
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            perspective-origin-x: 100%;
            -webkit-perspective-origin: 100%;
            transform-origin: 50%; //firefox
            -o-transform-origin: 100%;
            -webkit-transform-origin: 100%;

        }
    }




    .plx_bg1{
        @include media($medium-screen-up){
            transform: translateZ(-5px) scale(6);
            -webkit-transform: translateZ(-1px) scale(2.1);
            -o-transform: translateZ(-1px) scale(2.1);
        }

    }


    .plx_bg1b{
        @include media($medium-screen-up){
            transform: translate(-77%) translateZ(-1.5px) scale(2.6);
            -webkit-transform: translate(-77%) translateZ(-1.5px) scale(2.6);
            -o-transform: translate(-77%) translateZ(-1.5px) scale(2.6);
        }
    }

    .plx_bg2{
        @include media($medium-screen-up){
            transform: translateZ(-2px) scale(3);
            -webkit-transform:translateZ(-2px) scale(3);
            -o-transform:translateZ(-2px) scale(3);
        }
    }


    .plx_bg2b{
        @include media($medium-screen-up){
            transform: translateZ(-2.5px) scale(3.6);
            -webkit-transform: translateZ(-2.5px) scale(3.6);
            -o-transform: translateZ(-2.5px) scale(3.6);
        }

    }

    .plx_bg3{
        @include media($medium-screen-up){
            transform: translateZ(-3px) scale(4.1);
            -webkit-transform: translateZ(-3px) scale(4.1);
            -o-transform: translateZ(-3px) scale(4.1);
        }

    }

    .plx_bg4{
        @include media($medium-screen-up){
            transform:translateZ(-4px) scale(5);
            -webkit-transform: translateZ(-4px) scale(5);
            -o-transform: translateZ(-4px) scale(5);
        }
    }

}


