.plx{
    @include media($medium-screen-up){
        perspective: 1px;
        -webkit-perspective: 1px;
        height: 100vh;
        perspective-origin-x: 100%;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective-origin: 100%;
        position: fixed;
    }
}

.plx_layer{
    @include media($medium-screen-up){
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        perspective-origin-x: 100%;
        -webkit-perspective-origin: 100%;
    }
}

.plx_bg1{
    @include media($medium-screen-up){
        transform: translateX(-51%) translateZ(-1px) scale(2.1);
        -webkit-transform: translateX(-51%) translateZ(-1px) scale(2.1);
        -o-transform: translateX(-51%) translateZ(-1px) scale(2.1);
    }

}


.plx_bg1b{
    @include media($medium-screen-up){
        transform: translate(-77%) translateZ(-1.5px) scale(2.6);
        -webkit-transform: translate(-77%) translateZ(-1.5px) scale(2.6);
        -o-transform: translate(-77%) translateZ(-1.5px) scale(2.6);
    }
}

.plx_bg2{
    @include media($medium-screen-up){
        transform: translateX(-102%) translateZ(-2px) scale(3);
        -webkit-transform: translateX(-102%) translateZ(-2px) scale(3);
        -o-transform: translateX(-102%) translateZ(-2px) scale(3);
    }
}


.plx_bg2b{
    @include media($medium-screen-up){
        transform: translateX(-127%) translateZ(-2.5px) scale(3.6);
        -webkit-transform: translateX(-127%) translateZ(-2.5px) scale(3.6);
        -o-transform: translateX(-127%) translateZ(-2.5px) scale(3.6);
    }

}

.plx_bg3{
    @include media($medium-screen-up){
        transform: translateX(-155%) translateZ(-3px) scale(4);
        -webkit-transform: translateX(-155%) translateZ(-3px) scale(4);
        -o-transform: translateX(-155%) translateZ(-3px) scale(4);
    }

}

.plx_bg4{
    @include media($medium-screen-up){
        transform: translateX(-180%) translateZ(-4px) scale(5);
        -webkit-transform: translateX(-180%) translateZ(-4px) scale(5);
        -o-transform: translateX(-180%) translateZ(-4px) scale(5);
    }
}

.firefox{
    .plx_bg1{
        transform: translateZ(-1px) scale(2.1);
    }

    .plx_bg1b{
        transform: translateZ(-1.5px) scale(2.6);
    }

    .plx_bg2{
        transform: translateZ(-2px) scale(3);
    }


    .plx_bg2b{
        transform: translateZ(-2.5px) scale(3.6);
    }

    .plx_bg3{
        transform: translateZ(-3px) scale(4);
    }

    .plx_bg4{
        transform: translateZ(-4px) scale(5);
    }
}


