@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";



#container{

    h1{
        text-align: center;
    }

    &.admin{
        background-color: #5B727F;
        min-height: 100%;
        padding: 10px;
        font-size: 18px;

        a{
            text-decoration:none;
            &:hover{
                color: gray;
            }

        }

    }
}




#admin_menu{
width: 100%;
padding: 10px;
font-size: 18px;
    a{
        margin-left: 20px;
        margin-right: 20px;
        color: white !important;
    }
}


#descriptionInput{
    min-height: 300px;
}

#showForm{
    padding: 20px;
    margin-bottom: 100px;
    input, textarea{
        max-width: 800px;
    }
}

#newShowPhotoFormContainer{
    padding: 20px;
    border: white solid 1px;
    background: $show-bg2;
}


.showPreviewThumb{
    width: 100px;
}
