@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "parallax";
@import "admin";
@import "terrain";
@import "mountain";
@import "show";


body{
    color: white;
    font-family: "mostra-nuova",sans-serif !important;
    max-width: 100%;
    background: black;
    position: relative;
    height: 100%;
    @include media($medium-screen-up){
        overflow: hidden;
    }

    a{
        color: $color-orange;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

}


#container{
    background-image: url("../images/bg_gradient_stripes.png");
    background-repeat: repeat-x;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include media($medium-screen-up){
        background: black;
        position: fixed;
        overflow-y: auto;
    }
}

#bg{
    display: none;
    @include media($medium-screen-up){
        display: block;
        background-image: url("../images/bg_gradient_stripes.png");
        background-repeat: repeat-x;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}




#mobile_nav{
    height: 55px;
    background: $transparent_black;
    border-bottom: gray solid 1px;
    padding: 10px;
    @include media($tablet-up){
        display: none;
    }
}


#menu_container{
    h1{
        color: $color-orange;
        font-weight: 200;
        font-size: 2em;
        margin: 0px;
        text-align: center;
        display: none;

        @include media($tablet-up){
            display: block;
            font-weight: 200;
            font-size: 3em;
        }

        @include media($medium-screen-up) {
            font-size: 4em;
        }
    }
    z-index: 50;
}


#mobile_menu_btn{
    display: block;
    background: url("../images/3d_menu.png") no-repeat;
    height: 35px;
    width: 35px;
    float: right;

}

#menu{
    background: url("../images/transparent_black_70.png");
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: none;
    @include media($tablet-up){
        display: block;
    }
    li{
        display: block;
        border-bottom: gray solid 1px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        list-style-type: none;

        @include media($tablet-up){
            display: inline-block;
            width: auto;
            padding-left: 30px;
            padding-right: 30px;
            border-bottom: none;
        }

        @include media($medium-screen-up){
            padding-left: 40px;
            padding-right: 40px;
        }


        a{
            display: block;
            text-decoration: none;
            color: $color-orange;
            text-transform: uppercase;
            font-size: 20px;
            &:hover{
                color: white;
            }
        }
    }
}


#main_container{
    position: relative;
    min-height: 100%;
    display: block;
    z-index: 1;
    @include media($medium-screen-up){
        margin-top: 30%;
        &.index{
            margin-top: 70%;
        }
    }
}

#main{
    margin: 6px;
    border: black solid 1px;
    position: relative;
    background: $transparent_black;
    background: white;
    background: #5B727F;
    padding: 10px;
    img{
        max-width: 100%;
    }

    @include media($tablet-up){
        width: 90%;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    @include media($medium-screen-up){
        //background: $transparent_black;
        width: 80%;
        height: auto;
    }
}


#thumbPreview, .thumb{
    width: 100px;
}

.form-sep{
    margin-top: 60px;
    margin-bottom: 60px;
}


#footer{
    position: relative;
    bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    color: white;
    display: block;
    width: 100%;
    z-index: 100;
    b{
        display: none;
        @include media($tablet-up){
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    span{
        display: block;
        @include media($tablet-up){
            display: inline-block;
        }
    }

    @include media($medium-screen-up){
        margin-top: 22%;
        height: 65%;
    }


    .contact_info{
        margin-left: auto;
        margin-right: auto;
        display: block;
        bottom: 20px;
        width: 100%;
        font-family: "Helvetica", sans-serif;
        text-align: center;
        z-index: 2;
        position: relative;

        @include media($medium-screen-up){
            position: absolute;
            bottom: 15px;
            left: 0px;
        }

    }


}


.home_logo{
    cursor: pointer;
}