@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";


#mountain1{
position: absolute;
bottom: 0px;
width: 100%;
z-index: -1;
@include media($medium-screen-up){
    margin-top: 80%;
    margin-bottom: 0px;
    top: 0px;
}
}

#mountain2{
    display: none;
    @include media($medium-screen-up){
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        margin-top: 65%;
        margin-bottom: 0px;
        top: 0px;
    }

}


#dads_logo_container{
    display: none;
    @include media($medium-screen-up){
        display: block;
        text-align: center;
        z-index: -1;
    }

}

#dads_logo{
    text-align: center;
    max-width: 950px;
    width: 60%;
    @include media($large-screen-up){
        width: auto;
    }
}
