@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

#show_container{
    color: $show-copy;
    text-align: center;
    .showDate{
        margin: 0px;

        @include media($tablet-up){
            font-size: 2em;
        }

        @include media($medium-screen-up){
            font-size: 2em;
        }
    }
}


.title{
    margin: 0px;
    color: $show-copy;
    text-transform: uppercase;
    font-weight: 400;
    @include media($small-screen-up){
        font-size: 2em;
    }
    @include media($tablet-up){
        font-size: 3em;
    }
    @include media($medium-screen-up){
        font-weight: 200;
        font-size: 4em;
    }
}




#currentShowPhoto{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#showSummary{
    margin: 0px;
    padding: 0px;

    @include media($tablet-up){
        margin-top: -5px;
        font-size: 2em;
    }

    @include media($medium-screen-up){
        margin-top: -10px;
        font-size: 2em;
    }
}

#showDescription{
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5em;
}


#mainShowPhoto, .showPhoto{
    width: 100%;
    margin-bottom: 10px;
}


.showPhotoContainer{
    width: 100%;
    margin-bottom: 40px;
}

.showPhoto{
    display: block;
    width: 100%;
}