@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

#show_container{
    color: $color-orange;
    text-align: center;

    #currentShowTitle{
        margin: 0px;
        text-transform: uppercase;
        font-weight: 400;
        @include media($small-screen-up){
            font-size: 2em;
        }
        @include media($tablet-up){
            font-size: 3em;
        }
        @include media($medium-screen-up){
            font-size: 5em;
        }
    }

    .showDate{
        margin: 0px;

        @include media($tablet-up){
            font-size: 2em;
        }

        @include media($medium-screen-up){
            font-size: 2em;
        }
    }
}



#currentShowPhoto{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#showSummary{
    margin: 0px;
    padding: 0px;

    @include media($tablet-up){
        margin-top: -5px;
        font-size: 2em;
    }

    @include media($medium-screen-up){
        margin-top: -10px;
        font-size: 3em;
    }
}