<div id="aboutContainer">

    <h2>About Us</h2>

    <p class="about"><b>D.A.D.S.</b> <i>(Digital Art Demo Space)</i> is an experimental maker-space, residence, gallery, and venue for new media art, games, comedy, and music located in <a target="_blank" href="https://www.google.com/maps/dir/''/2515+S+Archer+Ave,+Chicago,+IL+60608/@41.8467616,-87.6492884,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x880e2c5ac76a1575:0x71e9c859e791a494!2m2!1d-87.6469817!2d41.8467576">Bridgeport, Chicago.</a> Our goal is to provide the community with exposure to upcoming technologies and new approaches to art and <b>Play</b>. We strive to sustain access to the lastest cutting-edge innovations and tools for exploration and creativity.  Our focus lies in merging a broad spectrum of diverging demographics and disciples into novel mashed up remixed experiences.</p>

    <p class="about"><b>TL;DR:</b> Some curatorial mandate gibberish. We're super huge nerds that work on cool shit. We do what we love and we love what we do. You should stop by.</p>

    <img src="/images/layout.png" id="layout">
    <h2>Proposals</h2>
    <p class="about"><b>Proposals</b> are accepted for single artists or groups for any number of uses for the space. You do not need to be the author of work to present it. We are currently focused on time-based or <b>interactive</b> work, (Performance, Screenings, <b>Games</b>, Workshops, Stand-Up Comedy, Improv, Lectures, Debates, Music .) We will also accept static installations or two-dimensional work if they are experimental or involve technology and/or <b>Play</b> in some way. We are <b>not</b> interested in modernist abstract-expressionist paintings on canvas. We are focused on experience, transformation, and <b>immersion</b> as opposed to art objects.
    </p>

    <p class="about">Please send proposals in electronic format to <a href="mailto:info@dadschicago.com">info@dadschicago.com</a> with a folder of images/videos or external links as well as a written description of the proposal and an artist statement, CV or Resume, ( if applicable ).
    </p>

    <p class="about">The space is also available for rentals.</p>

    <h2>Facilities</h2>
    <p class="about bigger"> Consider the following accessible facilities for your proposal
    <p class="about">
    2500 sq. ft.  -  Wallspace  -  Modular Wall System  -  Roof Access - 50 Folding Chairs/Tables -  3'x3' Windows (Viewable From Train Platform) - Blackout Curtains -  1080p digital projection - PA soundsystem  - Mixer - Microphone - Acoustic Drumset -  Arduinos &amp; Rasberry PIs for Robotics  - Kinect  - GoPro Camera - Motion Sensor -  Game Consoles  -  MIDI triggers  -  3d Printer  -  Hot Tub  - Lasers - Flood Ultraviolet Black Light - Smoke Machine - Oculus Rift Virtual Reality (DK2)
    </p>


    <div id="aboutImages">
        <img src="/images/facilities2.jpg" class="floatRight">
        <img src="/images/facilities1.jpg">
    </div>



</div>
