<div id="container" class="admin plx">
    <h1>DADMIN??</h1>
    <div id="admin_menu">
        <a href="#" id="showsBtn">Check All Shows</a>  |
        <a href="#" id="newShowBtn">New Show</a>
    </div>
    <div id="admin_content">
    </div>
</div>