<div id="container_container">
    <div id="background" class="plx">
    </div>
        <div id="container" class="plx">

            <div class="plx_layer plx_bg0">
                <h1>DIGITAL ART DEMO SPACE</h1>
                <ul id="menu">
                    <li><a href="#" id="calendarBtn">Calendar</a></li>
                    <li><a href="#" id="calendarBtn">Media</a></li>
                    <li><a href="#" id="proposalsBtn">Proposals</a></li>
                    <li> <a href="#" id="aboutBtn">About</a>  </li>
                </ul>
            </div>


            <div class="plx_layer plx_bg3 z100" id="dads_logo_container">
                <img src="images/dads_logo.png" id="dads_logo">
            </div>

            <div class="plx_layer plx_bg1b z100" id="terrain1_container">
                <div id="terrain1">
                </div>
            </div>


            <div class="plx_layer plx_bg1 z100" id="terrain2_container">
                <div id="terrain2">
                </div>
            </div>


            <div class="plx_layer z100" id="terrain_black_container">
                <div id="terrain_black">
                </div>
            </div>


            <div class="plx_layer z500" id="main_container">
                <div id="main">
                </div>
            </div>

        </div>
    </div>
</div>



{{!--

<div id="dialogError" title="Error, Yo" style="display: none">
    <p id="dialogErrorContent">
    </p>
</div>
</div> --}}