
<div id="container" class="plx">

    <div id="background" class="plx_layer"></div>

    <div id="menu_container" class="plx_layer plx_bg0">
        <h1>DIGITAL ART DEMO SPACE</h1>
        <ul id="menu">
            <li><a href="#" id="calendarBtn">Calendar</a></li>
            <li><a href="#" id="calendarBtn">Media</a></li>
            <li><a href="#" id="proposalsBtn">Proposals</a></li>
            <li> <a href="#" id="aboutBtn">About</a>  </li>
        </ul>
    </div>


    <div class="plx_layer plx_bg3" id="dads_logo_container">
        <img src="images/dads_logo_big2.png" id="dads_logo">
    </div>



    <div class="plx_layer plx_bg1b" id="terrain1_container">
        <div id="terrain1">
        </div>
    </div>



    <div class="plx_layer plx_bg1" id="terrain2_container">
        <div id="terrain2">
        </div>
    </div>


    <div id="main_container">
    </div>

</div>
<div id="bottomContentContainer">
    <div id="dogHead"></div>
</div>



<div id="dialogError" title="Error, Yo" style="display: none">
    <p id="dialogErrorContent">
    </p>
</div>
</div>