<div id="mediaContainer">

    <div id="videosContainer">
        <h2>VIDEOS</h2>
        <div class="vine_container">
            <iframe src="https://vine.co/v/eXKOel72d05/embed/simple" width="600" height="600" frameborder="0">
            </iframe>
            <script src="https://platform.vine.co/static/scripts/embed.js">
            </script>
        </div>
    </div>

    <div id="photosContainer">
        <h2>PHOTOS</h2>
        <div id="photos">

        </div>
    </div>
</div>