<div id="mediaContainer">

    <div id="videosContainer">
        <h2>VIDEOS</h2>

        <video loop class="mediaVideo">
            <source src="videos/balls1.mp4" type="video/mp4" >
            <source src="videos/balls1.ogg" type="video/ogg" >
        </video>
        <p class="caption">( click to play )</p>
        <video loop class="mediaVideo">
            <source src="videos/balls2.mp4" type="video/mp4" >
            <source src="videos/balls2.ogg" type="video/ogg" >
        </video>

    </div>

    <div id="photosContainer">
        <h2>PHOTOS</h2>
        <div id="photos">

        </div>
    </div>
</div>