<div id="media">
    <img id="mainShowPhoto" class="showPhoto" src="images/transparent_black_70.png">
    <div id="thumbs_container">
    </div>
    <a href="#" class="prevThumbs" disabled>Prev</a>
    <a href="#" class="nextThumbs" disabled>Next</a>
</div>