<h2>Create a new Show</h2>

<form id="showForm" enctype="multipart/form-data">
    Title: <input type="text" name="title" id="titleInput" required/>
    <br>
    Url (No special characters): <input type="text" name="urlTitle" id="urlTitleInput" require />
    <br>
    Summary (Time of day, artist): <input type="text" name="summary" id="summaryInput" required/>
    <br>
    Description (Long Description, other photos):
    <textarea name="description" form="showForm">Enter text here...</textarea>
    <div id="inlineDatePicker"></div>
    <input type="hidden" name="date" id="dateInput" />
    <br>
{{!--     <input type="file" name="photo" id="photoInput" />
 --}}    <br>
    <input id="fileupload" type="file" name="photo" required>


<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>

<div id="displayImage">
    <img id="imagePreview" src="/images/placeholder.jpg" width="300">
</div>
<br>
    <input type="submit" value="Submit" name="submit" id="upload_btn">
</form>
