<div class="thumbSet">
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>

    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>
    <a href="#" class="mediaThumbLink disabled" >
        <img src="../images/transparent_black_70.png" class="mediaThumb">
    </a>

</div>